:root{
    --procasu1: #15224d;
    --procasu2: #11bdd1;
    --procasu3:#dddddd;
}
/*nav*/
.navbar{
    background-color: var(--procasu3);
}

/*Imagen*/
.avatar {
    max-width: 35px;
}
/*menu*/
#sidebar-container  {
    background-color: var(--procasu1);
    min-height: 100vh;
}

/*Iconos*/
.iconos {
    max-width: 35px;
}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

/*:::::Pie de Pagina*/
footer .conbnt{
    background-color: var(--procasu3);
    color: #0a1a2a;
    width: 100%;
}
.conbnt{
    display: flex;
    width: 100%;
}
.texto{
    text-align: center;
    padding-top: 1rem;
    padding-right: .5rem;
    padding-left: .5rem;
}
.largo{
    width: 260px;
    padding-top: 1rem;
}
.largo1{
    width: 150px;
    padding-top: 1rem;
    padding-right: 2rem;
}
.icon{
    margin-right: 1rem;
    margin-left: 3rem;
    margin-top: 1rem;
}